@tailwind utilities;
@import "tailwindcss";
@import "tailwindcss/preflight";

.dark {
    --color-primary: var(--color-slate-800) 
}

@theme static{
    --color-primary: var(--color-slate-100);
    --color-secondary: var(--color-sky-700);
    --color-accent: var(--color-amber-700);
}