@tailwind utilities;
@import 'tailwindcss';
@import 'tailwindcss/preflight';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

.dark {
	--color-background: var(--color-slate-800);
	--color-on-background: var(--color-white);
	--color-on-background-variant: var(--color-neutral-300);
}

@theme {
	--font-sans: 'Lato', ui-sans-serif, system-ui, sans-serif;
	--font-lato: 'Lato', sans-serif;
	--font-roboto: 'Roboto', sans-serif;
}

@theme static {
	--font-heading: var(--font-roboto);

	--color-primary: var(--color-sky-600);
	--color-primary-variant: var(--color-sky-800);
	--color-secondary: var(--color-amber-500);
	--color-secondary-variant: var(--color-amber-800);
	--color-background: var(--color-white);
	--color-surface: var(--color-white);

	--color-on-background: var(--color-black);
	--color-on-background-variant: var(--color-neutral-500);
	--color-on-surface: var(--color-black);
	--color-on-primary: var(--color-white);
	--color-on-secondary: var(--color-white);
	--color-border: var(--color-slate-400);
}

@layer base {
	:root {
		font-size: 18px;
		--sidebar-width: 250px;
		--article-max-width-standard: 780px;
		--content-max-width: 1780px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-heading);
	}
}

@layer utilities {
	.not-prose {
		color: var(--color-on-background);
	}
}
